@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'),
    url('../../assets/fonts/CircularStd-Book.woff2') format('woff2');
  font-weight: 350;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'),
    url('../../assets/fonts/CircularStd-BookItalic.woff2') format('woff2');
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'),
    url('../../assets/fonts/CircularStd-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'),
    url('../../assets/fonts/CircularStd-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'),
    url('../../assets/fonts/CircularStd-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'),
    url('../../assets/fonts/CircularStd-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
